.blog-design {
    margin: 20vh;
    background-color: lightcyan;
    padding: 2vh;
}


/* desktop view */
@media screen and (min-width:991px) and (max-width:1199px) {
    .blog-design {
        margin: 20vh;
        background-color: lightcyan;
        padding: 2vh;
    }
}


@media screen and (min-width:768px) and (max-width:991px) {
    .blog-design {
        margin: 4vh;
        padding: 2vh;
    }
}

/* mobile view */
@media screen and (max-width:767px) {
    .blog-design {
        margin: 4vh;
        padding: 2vh;
    }
}